body {
    margin: 0;
    background-color: #2b3729;
}

a {
    text-decoration: none;
}

.content {
    background:white;
    width: 100%;
    max-width: 1280px;
    min-width: 760px;
    margin: 0 auto;
}

.panel {
    box-sizing: border-box;
}

.header {
    background-image: url(../img/mainphoto.jpg);
    background-size: 100%;
    background-origin: border-box;
    background-position-y: -653px;
    padding-top: 180px;
    height: 533px;
}

.header ul {
    width: 70%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: 'Marck Script', cursive;
    font-size: 50pt;
}

.header ul li {
    display: inline-block;
    background-color: #3b4537;
    text-align: center;
    align-content: center;
    opacity: 0.84;
}

.header ul li:last-child {
    float: right;
}

.header ul li:hover {
    opacity: 1;
}

.header ul li a {
    padding-top: 32px;
    width: 344px;
    height: 144px;
    box-sizing: border-box;
    vertical-align: middle;
    display: inline-block;
    color: black;
    text-decoration: none;
}

.header ul li:hover a, .header ul li a:hover {
    color: wheat;
}

.menu {
    height: 1070px;
    background-image: url(../img/biglogo.png);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: center;
    background-position-x: 50%; 
    position: relative;
}

ul.projects {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
}

ul.projects li {
    width: 294px;
    height: 255px;
    color: white;
    text-align: center;
    
    vertical-align: middle;
    font-family: 'Marck Script', cursive;
    font-size: 40pt;

    position: absolute;
    display: inline-block;
}

.menu a, .menu a:visited {
    width: 294px;
    height: 255px;
    display: inline-block;
    margin: 27px 0 0 -14px;
    color: white;
}

.menu a, .menu .shadow {
    opacity: 0;
}

.menu a:hover, .menu .shadow:hover {
    opacity: 1;
}

ul.projects li .shadow {
    width: 274px;
    height: 237px;
    position: absolute;
    top: 10px;
    left: 13px;
    background-image: url(../img/ps.png);
}

ul.projects .p1 {
    background-image: url(../img/p1.png);
    left: 50%;
    margin: 0 -148px;
    top: 40px;
}

ul.projects .p2 {
    background-image: url(../img/p2.png);
    left: 30px;
    top: 200px;
}
ul.projects .p3 {
    background-image: url(../img/p3.png);
    right: 30px;
    top: 200px;
}
ul.projects .p4 {
    background-image: url(../img/p4.png);
    left: 30px;
    top: 600px;
}
ul.projects .p5 {
    background-image: url(../img/p5.png);
    right: 30px;
    top: 600px;
}

@media all and (max-width: 1024px) {
    .header ul {
        width: 88%;
    }
}

.team {
    background-color: #2b3729;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  padding: 95px 0 0 0;
}

/* Hide the images by default */
.mySlides {
  display: none;
  padding: 40px;
  font-family: 'Marck Script', cursive;
}   

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 30px;
  width: auto;
  padding: 16px 16px;
  color: white;
  font-weight: bold;
  font-size: 68px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 45px;
  padding: 8px 12px;
  position: absolute;
  top: 48px;
  width: 100%;
  text-align: center;
}

.mySlides ul {
    color: white;
    font-size: 42px;
    position: absolute;
    top: 240px;
    right: 10px;
}

.mySlides ul li {
    line-height: 70px;
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


